@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-head: "Kode Mono", serif;
  --font-body: "Lato", serif;
  --color-blue: #2a0c86;
  --color-orange: #cc480c;
  --color-gray: #d9d9d9;
  --color-darkblue: #17073d;
  --color-black: #000000;
  --color-dark: #111111;
  --color-purple: #9747ff;
  --color-pink: #f92f79;
  --animate-move: move 20s linear infinite;
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
